{% for channel in channels %}
    <a href="{{ path('nextstore_sylius_gift_card_admin_gift_card_create', { 'channelCode': channel.code }) }}" id="{{ channel.id }}" class="item">
        {{ 'nextstore_sylius_gift_card.ui.create_for_channel'|trans({ '%channel%': channel.name }) }}
    </a>
{% endfor %}
